.entorno/
.env
/home/hugo/CodePro/challenge10_Microservicios/servicio_login/instance
/home/hugo/CodePro/challenge10_Microservicios/servicio_login/__pycache__
/home/hugo/CodePro/challenge10_Microservicios/servicio_notificacion/__pycache__
/home/hugo/CodePro/challenge10_Microservicios/servicio_notificacion/instance